body{
  margin: 0;
  padding: 0;
}

.blue{
  color:blue;
}
.hero{
  width:100vw;
  height:95vh;
  background-image:url("../src/images/heroImg.jpg");
  background-size: cover;
  background-position: center;
}
.footer{
  height:15vh;
  background:teal;
  margin:25px 0 0 0 ;
  padding:0;
}